@model IEnumerable<MVCapp.Persitence.Poll>

@{
    ViewData["Title"] = "MyPolls";
}

<h1>MyPolls</h1>

<form asp-controller="Mypolls" asp-action="Index" method="post">
<table class="table">
    <tr>
        <td>
            <label for="search">Search:</label>
            <input type="text" id="search" name="search"/>
        </td>
        <td>
            <label for="start">Start date:</label>
            <input type="date" id="start" name="start"
                   value="2018-01-01"
                   min="2018-01-01" max="2025-12-31">
        </td>
        <td>
            <label for="end">end date:</label>
            <input type="date" id="end" name="end"
                   value="2025-12-31"
                   min="2018-01-01" max="2025-12-31">
        </td>
        <td>
            <button class="btn btn-primary" type="submit">Search</button>
        </td>
    </tr>
</table>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
